body {
    background: white url("images/background.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}
ul {
    padding: 0 40px 40px 40px;
}
li a {
	text-decoration: none;
	font-weight: bold;
	color: green;
}
h1 {
	padding: 25px 25px 0 25px;
    text-shadow: 2px 1px 1px #999;
}

.fade-bg {
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.49);
}
.main-content {
	margin: 1in;
	width: 33.33%;
	background-color: #fff;
}